<!doctype html>
<html th:fragment="layout (template, title)">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="'CTRL+V - ' + ${title}"></title>

        <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
        <link th:href="@{/resources/css/base.css}" rel="stylesheet">
    </head>

    <body>

        <div id="container">
            <aside>
                <h1 class="logo">CTRL+V</h1>
            </aside>
            <main>Main</main>
        </div>

    </body>
</html>